:root {
    --brown-light: #c9b199;
    --brown: #aa7b51;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

header {
    background-color: #542f1b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.horizontal-bar {
    display: block;
    width: 100%;
    border-bottom: .2em solid #f4f4f4;
    margin: 2em 0;
}

/*
 Set the fonts
*/

* {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

p {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 18px;
}

h1, .title-h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size: 1.5em;
}

h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
}

.crop-img {
    object-fit: cover;
}

.bg-brown-light {
    background-color: var(--brown-light);
}

.bg-brown {
    background-color: var(--brown);
}

.btn-brown {
    background-color: var(--brown) !important;
    color: white !important;
}
.text-color-brown {
    color: var(--brown);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:link {
    text-decoration: none;
}

nav > a, nav > a:link , nav > a:visited {
    color: white;
}

#navMain, #navFooter  {
    display: flex;
    flex-direction: column;
}

#navMain > *, #navFooter > *  {
    font-size: 1.5em;
}

#logoMochacafé {
    width: 100%;
    height: auto;
}

.before-lg-center {
    text-align: center;
}

#menu {
    margin: 1.5rem 0;
}

img {
    width: 100%;
    height: 65%;
}

/*
    Media queries
*/

/*@media screen and (min-width: 576px){

}*/

@media screen and (min-width: 768px){
    main {
        width: 80%;
    }
    .padding-2 {
        padding: 2em;
    }

    #navMain, #navFooter  {
        flex-direction: row;
    }

    h1, .title-h1 {
        font-size: 60px;
    }
    header {
        flex-direction: row;
    }
}

@media screen and (min-width: 992px){
    #logoMochacafé {
        width: 40%;
    }
    .before-lg-center {
        text-align: start;
    }
    #menu {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}

@media screen and (min-width: 1200px){
    main {
        width: 60%;
    }
}

/*@media screen and (min-width: 1400px){

}*/